body {
  background: $light-gray;
  font-family: sans-serif;
  font-size: $font-size;
}

#backgroundTable {
  background: $light-gray;
  text-align: center;
  margin-top: $padding;
}

a {
  &, &:link {
  color: $brand-primary;
  text-decoration: underline;
  }
}

#contentTable {
  background: #fff;
  text-align: left;
  margin: 0 auto;
  width: $container-width;
  border-color: #ea3a82;
  td {
    line-height: 1.35em;
    padding-left: $padding;
    padding-right: $padding;
  }
  .header {
    padding: 0;
    margin: 0;
  }
  .signoff {
    text-align: right;
  }
  .info {
    width: 100%;
    td, th {
      background: $lighter-gray;
      padding: ($padding / 3) $padding;
      font-size: 12px;
    }

  }
}

#coloredLines {
  margin: 0 auto;
  width: $container-width;
  tr {
  td {
    height: 6px;
    line-height: 6px;
    &.one, &.four {
    background: $brand-primary;
    width: 107px;
    }
    &.two, &.five {
    background: $brand-accent;
    width: 145px;
    }
    &.three, &.six {
    background: $brand-secondary;
    width: 77px;
    }
  }
  }
}

#pinkBox {
    border:1px solid #ec1e88;
    font-size:12px;
    line-height: 16px;
    margin:0 0 16px 0;
    padding: 13px 18px;
    background: #FFEFFF;

}

#greyBoxPinkBorder {
    border:1px solid #ec1e88;
    font-size:12px;
    line-height: 16px;
    margin:0 0 16px 0;
    padding: 13px 18px;
    background: #F6F6F6;

}

#expirationNote {
  td {
    padding: 7px 9px 9px 9px;
  }
  small {
    font-size: 11px; color: #919191;
  }
  h1 {
    font-size: 28px;
    font-weight: bold;
    color: #000;
    margin: 0.75em 0;
  }
}

#redemptionCode {
  text-align: center;
  font-size: 18px;
  color: #919191;
  margin: 0.75em 0;
}

