// Spacing
$padding: 30px;
$container-width: 660px;

// Colors
$brand-primary: #ea3a82;
$brand-secondary: #9ecb3b;
$brand-accent: #31afb1;

$light-gray: #D3D4D6;
$lighter-gray: #f3f4f4;

// Typography
$font-size: 14px;
